<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Berita - Content</title>
    <link
      rel="News Portal Icon"
      href="../../assets/logo.ico"
      type="image/x-icon"
    />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- JQuery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <!-- External CSS -->
    <link href="./assets/content.css" rel="stylesheet" />

    <!-- External JS -->
    <script src="./assets/content.js" type="text/javascript"></script>
  </head>

  <body>
    <nav>
      <div class="navbar-header">
        <div class="navbar-brand">
          <img src="../../assets/logoblack-text.png" alt="News Portal" class="logo" onclick="window.location.href = '../home/'"/>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <a href="../register/"><li class="active" id="signup">Sign Up</li></a>
        <a href="../login/"> <li id="login">Login</li></a>
      </ul>
    </nav>

    <div style="margin-top: 10rem">
      <div class="logo-wrapper center">
        <img src="../../assets/logoblack-text.png" alt="News Portal" />
      </div>
      <nav class="littlenav navbar-default">
        <ul class="nav navbar-nav navbar">
          <li><a href="#">Home</a></li>
          <li><a href="#">International</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Opinion</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Entertainment</a></li>
          <li><a href="#">Lifestyle</a></li>
        </ul>
      </nav>
    </div>

    <div class="grid-container">
      <div>
        <p class="detail">Penulis - 20 January 2020</p>
        <h1>Judul Berita Ada di Sini</h1>
        <p class="detail">Business</p>
        <img src="../../assets/white-house.jpeg" alt="Meeting Room" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae,
          gravida tempus non ullamcorper amet ac ultrices. Vitae feugiat at
          faucibus potenti turpis nullam tincidunt. Facilisis commodo duis
          lobortis lacus sapien nunc. Tincidunt enim nibh arcu, commodo lacus,
          a. Convallis tortor in nisl arcu vel malesuada pulvinar libero.
          Condimentum fames tempor donec ultrices tellus. Id lectus nullam
          tempor non id mauris ultricies lectus nec. Velit lacinia nunc etiam
          sollicitudin. Id vel habitasse eget in tellus velit at tellus, morbi.
          Eu euismod vestibulum nec lobortis nunc ut diam. Pretium lorem
          vulputate ut quis facilisis sollicitudin sit. Blandit euismod in
          egestas amet lobortis vel mauris. Diam nunc, leo arcu magna
          pellentesque iaculis molestie eros, risus.
        </p>
        <p>
          Semper nunc tristique risus in euismod congue elementum tellus arcu.
          Ipsum, ac accumsan dictumst pellentesque pulvinar cras proin libero.
          Semper mus pulvinar at viverra turpis facilisis auctor mauris pretium.
          Egestas nisi nunc sit elit sem fermentum gravida porta mi. Lobortis
          purus porttitor massa maecenas tincidunt egestas nascetur sodales id.
          Sagittis, vulputate consectetur cursus tellus faucibus sagittis
          suspendisse est, viverra. Natoque suspendisse pellentesque in
          elementum arcu nisi varius. Ultrices nec et, dictum sit id. Quis nisl,
          cursus consequat maecenas ut risus velit eu. Nulla urna mauris nec
          consequat, vehicula. Id aliquet nibh etiam massa ut mattis. Viverra
          aliquet elementum, scelerisque morbi lacus nullam.
        </p>
        <p>
          Pharetra, eleifend odio elit hac pretium gravida penatibus scelerisque
          congue. Odio fames viverra viverra consectetur magna. Sit vitae et
          porttitor neque. Id praesent congue arcu facilisis phasellus.
          Phasellus gravida interdum euismod dolor diam sit nibh fermentum.
          Curabitur ut leo donec ultricies. Congue arcu, nulla diam ut.
        </p>
        <p>
          Pretium metus, nulla quam ut ornare turpis nascetur. Aliquam et
          aliquet vulputate tortor, urna ultricies eget nec. Vulputate
          pellentesque in risus sed non iaculis. At fringilla nunc ultrices eget
          nunc. Nulla platea sed rutrum a tristique adipiscing. Dui consequat,
          dui tristique tincidunt auctor eget enim purus eu. Sapien, sit nisl,
          faucibus nulla auctor blandit at duis donec. A mauris nam sed nibh
          dictum sit et ultrices.
        </p>
        <p>
          Ipsum lectus nulla turpis tristique lobortis iaculis amet, in egesas.
          Lectus viverra neque, elementum nascetur faucibus accumsan, sed.
          Pellentesque senectus sollicitudin accumsan viverra tortor vel. Elit
          consectetur aenean ac imperdiet ut etiam auctor cursus. Enim, viverra
          faucibus risus nibh convallis pharetra aliquet. Condimentum ultrices
          est et praesent sodales purus pulvinar tristique iaculis. Tristique
          arcu, consectetur aliquet blandit habitasse ornare pellentesque.
          Egestas quam aliquet posuere suspendisse vel. Urna eget quisque sed
          bibendum faucibus ac dictumst dolor feugiat. Scelerisque id nulla id
          sed sapien enim senectus. Non adipiscing vitae mauris id a, neque.
          Amet ut donec mi lacinia. Facilisi purus amet morbi sed vitae aenean
          condimentum.
        </p>
        <form>
          <a href="" style="text-decoration: none">
            <table class="like">
              <tr>
                <td style="font-size: 30px;">&#9825;</td>
                <td>150</td>
              </tr>
            </table>
          </a>
          <p class="line">Comments</p>
          <textarea rows="5" cols="100" name="comment">
Enter your comment here...</textarea
          ><br />
          <button id="submit">Post</button>
        </form>
      </div>
      <div>
        <p class="line">Categories</p>
        <table>
          <tr>
            <td>&gt Lifestyle</td>
            <td>50</td>
          </tr>
          <tr>
            <td>&gt World</td>
            <td>55</td>
          </tr>
          <tr>
            <td>&gt Foods</td>
            <td>40</td>
          </tr>
          <tr>
            <td>&gt Technology</td>
            <td>10</td>
          </tr>
          <tr>
            <td>&gt Sports</td>
            <td>42</td>
          </tr>
          <tr>
            <td>&gt Football</td>
            <td>5</td>
          </tr>
          <tr>
            <td>&gt Cricket</td>
            <td>57</td>
          </tr>
          <tr>
            <td>&gt Covid19</td>
            <td>12</td>
          </tr>
      </div>
    </div>
  </body>
</html>
